<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %> 
    <title>Add New Item</title>
</head>
<body>
    <h1>Add New Item</h1>
    <form id='container' action="/store" method="POST">
        name: <input type="text" name="name"><br/>
        description: <input type="text" name="description"><br/>
        img: <input type="text" accept="image/png, image/jpeg" name="img"><br/>
        price: <input type="number" name="price"><br/>
        qty: <input type="number" name="qty"><br/>
        <input type="submit" name="" value="Add Product">
    </form>
</body>
</html>